<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,200&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link href="/css/style.css" rel="stylesheet"> -->
    <script defer src="js/scripts.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="/style.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <title>Here are your posts</title>
</head>
<body id="showBody"> 
  <nav id="mainNav" class="navbar navbar-expand-md navbar-light sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">INSPIRE</a>
      <a id="link" href="/posts/new" <%- title === 'Add Post' ? 'class="active"' : '' %>> + ADD POST</a>
      <a id="link" href="/posts/index" <%- title === 'All Posts' ? 'class="active"' : '' %>>YOUR POSTS</a>
      <a id="link" href="/posts" <%- title === 'Home' ? 'class="active"' : '' %>>HOME</a>
    </div>
  </nav>
    <h1 id="showHeader">
        Here are your posts
    </h1>
        <div id="showContainer">
          <% posts.forEach(function(p){ %>
            <div id="post" class="card" style="height: 220px; width: 230px;">
              <div class="card-body">
                <tr>
                  <h4 class="card-title"><%= p.title %></h4>
                  <h6 class="card-subtitle mb-2 text-muted"><%= p.content %></h6>
                  <p class="card-text">By, <%= p.author %></p>
                  <p class="card-text"><a href="/posts/<%= p._id %>">READ MORE</a></p>
                  <form action="/posts/<%= p._id %>?_method=DELETE" method="POST">
                    <button class="btn btn-outline-secondary btn-sm" type="submit">delete</button>
                  </form>
                </tr>
              </div>
            </div>
         <% }) %>
        </div>
    <a href="new" class="btn btn-outline-light btn-sm">Create a New Post</a>
</body>
</html>
