<%- include('../partials/header') %>
<section id="show-page">
    <div>Title: </div>
    <div><%= post.title %></div>
    <div>Content: </div>
    <div><%= post.content %></div>
    <div>Author: </div>
    <div><%= post.author %></div>
    <div>Related:</div>
    <div><%=post.keywords %></div>
    <div>Now Trending: </div>
    <div><%= post.nowTrending ? 'Yes' : 'Nope' %></div>
  </section>

  <h2>Comments</h2>
  <form id="add-comment-form" method="POST" action="/posts/<%= post._id %>/comments">
    <label>Comment:</label>
    <textarea name="content"></textarea>
    <label>Like:</label>
    <select name="like">
      <option value="like">like</option>
      <option value="dislike">dislike</option>
    </select>
    <input type="submit" value="Add Comment">
  </form>

  <% if (post.comments.length) { %>
    <table>
      <thead>
        <tr>
          <th>Date</th>
          <th>Comment</th>
          <th>Like</th>
        </tr>
      </thead>
      <tbody>
        <% post.comments.forEach(function(c) { %>
          <tr>
            <td><%= c.createdAt.toLocaleDateString() %></td>
            <td><%= c.content %></td>
            <!-- <td><%= c.like %></td> -->
          </tr>
        <% }); %>
      </tbody>
    </table>
  <% } else { %>
    <h5>No Comments Yet</h5>
  <% } %>

  <%- include('../partials/footer') %>